@import '../../styles/variables.scss';

.container {
    width: 80%;
    max-width: 80%;
    margin: 4em auto;
}

.title {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 1em;
    text-align: center;
}

.currentBlog {
    border-bottom: 1px solid $pgColor;
    margin-bottom: 2em;
    &__img {
        width: 100%;
        height: 500px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        margin-bottom: 1em;
        &__uploadedTime {
            margin: 1em 0;
            font-size: 1rem;
            color: $pgColor;
            font-weight: bold;
        }

        &__title {
            margin-bottom: 0.5em;
        }

        &__tag {
            margin-bottom: 0.5em;
            font-size: 1.1rem;
            font-weight: bold;
        }

        &__desc {
            color: $pgColor;
            font-size: 1.1rem;
            text-align: justify;
            margin-bottom: 0.6em;
        }

        &__link {
            font-size: 1.089rem;
            color: $secondary;
            text-decoration: underline;
            padding: 0.4em 0;
            font-weight: bold;

            transition: all .2s ease-in;

            &:hover,
            &:focus {
                cursor: pointer;
                color: $pgColor;
            }
        }
    }
}

.nextBlog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint(md) {
        flex-direction: row;
    }

    margin-bottom: 2em;
    &__img {
        width: 100%;
        height: 430px;

        @include breakpoint(md) {
            width: 49%;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        width: 100%;

        @include breakpoint(md) {
            width: 49%;
        }

        margin-bottom: 1em;
        &__uploadedTime {
            margin: 1em 0;
            font-size: 1rem;
            color: $pgColor;
            font-weight: bold;
        }

        &__title {
            margin-bottom: 0.5em;
        }

        &__tag {
            margin-bottom: 0.5em;
            font-size: 1.1rem;
            font-weight: bold;
        }

        &__desc {
            color: $pgColor;
            font-size: 1.1rem;
            text-align: justify;
            margin-bottom: 0.6em;
        }

        &__link {
            font-size: 1.089rem;
            color: $secondary;
            text-decoration: underline;
            padding: 0.4em 0;
            font-weight: bold;
            transition: all .2s ease-in;

            &:hover,
            &:focus {
                cursor: pointer;
                color: $pgColor;
            }
        }
    }
}