@import '../../styles/variables.scss';

.faqCard {
    width: 90%;
    height: auto;
    outline: 1px solid rgba(187, 200, 212, 1);
    margin: 1em auto;
    padding: 1em;
    position: relative;

    transition: all .2s ease;

    @include breakpoint (md) {
        width: 50%;
    }

    &__container {
        margin: 25px;
        display: flex;
        justify-content: space-between;
        transition: all .2s ease;

        &__opened {
            margin: 25px;
            display: flex;
            justify-content: space-between;
        }

        &__content {
            transition: all .2s ease;
            &__icon {
                font-size: 22px;
                color:$secondary;
                transition: all .2s ease;

                &:hover {
                    cursor: pointer;
                }
            }
            height: 50%;
        }
    }

    &__title {
        color: $secondary;
    }
}

.courseInfo {
    & p {
        transition: all .2s ease;
    }
}