@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

$Heebo: "Heebo", sans-serif;

// colors
$black: #25313C;
$navColor: #F6F9FC;
$heroContainer: #F0F0F0;
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #0066FF;
$primarydark:#2225b8ef;
$primarylight:#2d30c0ef;
$secondary: #6A88FF;
$secondarylight:#593fecef;
$bg: rgba(244, 244, 255, 0.637);
$pgColor: #6f6d8b;
$green: #00C04D;
// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}