@import '../../styles/variables.scss';

.container {
    width: 80%;
    max-width: 80%;
    margin: 12em auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__contentBx {
        &__formBx {
            &__inputBx:not(:last-child){
                margin-bottom: 2em;

                & span {
                    font-size: 1.2rem;
                    margin-bottom: 5px;
                    display: inline-block;
                    color: $black;
                    font-weight: 500;
                    letter-spacing: 1px;

                    @media (max-width: 768px) {
                        font-size: 1rem;
                        margin-top: 2em;
                        font-weight: normal;
                    }
            }
            
            & input {
                width: 100%;
                padding: 10px 0;
                outline: none;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 1px;
                color: $secondary;
                background:transparent;
                border: none;
                border-bottom: 1px solid $secondary;
              
            }

            & p {
                color: $pgColor;
                font-size: 1.2rem;
            }

            & a {
                color: $secondary;
            }

            &__btn {
                display: flex;
                justify-content: center;
            }
        }
    }
 }
}
