@import "../../styles/variables.scss";

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 100%;
    height: 85vh;
    background: $heroContainer;
    position: relative;
}

.hero__container {
    width: 90%;
    height: 85vh;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    @include breakpoint(md) {
        width: 80%;
        height: 85vh;
        max-width: 80%;
        margin: 0 auto;
        flex-direction: row;
    }

    &__content {
        order: 2;
        width: 100%;
        @include breakpoint(md) {
            order: 1;
            width: 47%;
            max-width: 47%;
            margin-top: 183px;
        }

       & h1 {
           font-size: 40px !important;

           @include breakpoint(md) {
            font-size: 80px !important;
           }
       }

       & p {
           @include breakpoint(md) {
                line-height: 25px;
                letter-spacing: 0.5px;
            }
       }

       & button {
           margin: 10px 0;
           @include breakpoint(md) {
               margin-top: 20px;
           }
       }
    }

    &__img {
        width: 100%;
        height: 100%;

        @include breakpoint(md) {
            order: 2;
            width: 70%;
            height: 100%;
            max-width: 70%;
        }
        & img {
            width: 100%;
            height: 100%;
            display: block;
            max-width: 100%;
        }
    }
}

.popular__courses {
    background: rgba(218,227,234,0.4);
    // display: flex;
    // justify-content: center;

    &__body {
        // display: flex;
        // justify-content: center;
    }

    // &__container {
    //     margin: 30px auto;
    // }

    &__title {
        text-align: center;
        font-size: 35px;
        margin: 80px 0;
        margin-bottom: 30px;

        & span{
            color: $secondary;
        }
    }

    &__container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;

        @include breakpoint (md) {
            width: 80%;
            max-width: 80%;
        }
        &__card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 2em auto !important;

            @include breakpoint(md) {
                justify-content: space-between;
            }
        
            &__viewMore {
                text-align: center;
                & a {
                    text-decoration: none;
                    font-size: 18px;
                    margin: 30px;
                    color: $secondary;
                    cursor: pointer;
                    padding: 15px;
                    text-decoration: underline;
                    font-weight: 500;
                }
              
            }
        }
    }
}

.reasons {
    &__title {
        text-align: center;
        font-size: 35px;
        margin: 80px 0;
        margin-bottom: 30px;

        & span{
            color: $secondary;
        }
    }

}

.section__title {
    text-align: center;
    font-size: 35px;
    margin: 90px auto;
    margin-bottom: 50px;

    & span{
        color: $secondary;
    }

    &__course {
        text-align: center;
        font-size: 35px;
        margin: 50px 0;
        margin-bottom: 30px;

        & span{
            color: $secondary;
        }
    }
}

.faqs {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}


.testimonials {
    display: flex;
    flex-direction: column;
    &__container {
        &__slider {
            &__arrows {
                display: flex;
                justify-content: flex-end;
                
                &__leftarrow {
                    font-size: 20px;
                    color: $primary;
                    margin: 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &__rightarrow {
                    font-size: 20px;
                    color: $primary;
                    margin: 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}